@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  --bg: #F0DBA5;
  --text: #151515;
  --yellow: #EDB74D;
  --red: #EB6666;
  --green: #6FB18A;
}


h1 {
  font-size: 60px;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Blobs */
.blob-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
  height: 100%;
  width: 100%;
  position: relative;
  right: 5em;
}


.blob {
  border-radius: 100px;
  filter: blur(60px);
}

.yellow {
  background-color: var(--yellow);
  position: absolute;
  top: 100px;
  left: 100px;
  height: 400px;
  width: 400px;
  
  animation: yellow 8s infinite ease;
}

.green {
  background-color: var(--green);
  position: absolute;
  top: 80px;
  right: -100px;
  height: 400px;
  width: 500px;
  
  animation: green 8s infinite ease;
}

.red {
  background-color: var(--red);
  position: absolute;
  right: 0;
  top: 150px;
  height: 550px;
  width: 400px;
  
  animation: red 8s infinite linear;
}

@keyframes yellow {
  0% {top: 200px; left: 100px; transform: scale(1);}
  30% {top: 300px; left: 150px; transform: scale(1.2);}
  60% {top: 100px; left: 200px; transform: scale(1.3);}
  100% {top: 200px; left: 100px; transform: scale(1);}
}

@keyframes green {
  0% {top: 80px; right: -20px; transform: scale(1.2);}
  30% {top: 300px; right: -20px;transform: scale(1);}
  60% {top: 200px; right: 100px;transform: scale(1);}
  100% {top: 80px; right: -20px; transform: scale(1.2);}
}

@keyframes red {
  0% {top: 250px; right: 0px; transform: scale(1);}
  30% {top: 150px; right: 150px;transform: scale(1.4);}
  60% {top: 250px; right: 100px;transform: scale(1);}
  100% {top: 250px; right: 0px; transform: scale(1);}
}


.wrapper {
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 10ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}